<!DOCTYPE html>
<html>
<head>
  <title>SpikeCalendar</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script>
    $(document).ready(function() {
      $('#calendar').fullCalendar({
        header: {
          left: 'prev,next today',
          center: 'title',
          right: 'prevYear, nextYear'
        },
        weekMode: 'variable',
        events: {
          url: '<%= events_url %>',
          type: 'GET',
          error: function() {
            alert('there was an error while fetching events!');
          },
          color: 'navy',   // a non-ajax option
          textColor: 'white' // a non-ajax option
        },
        dayClick: onDayClick,
        eventClick: onEventClick
      });

    });

    function onDayClick(date, allDay, jsEvent, view) {
      <%#if (allDay) {%>
        <%#alert('Clicked on the entire day: ' + date);%>
      <%#}else{%>
          <%#alert('Clicked on the slot: ' + date);%>
      <%#}%>

      <%#alert('Coordinates: ' + jsEvent.pageX + ',' + jsEvent.pageY);%>

      <%#alert('Current view: ' + view.name);%>

      if(allDay) {
        printMessage("Clicked on the entire day: " + date);
      } else {
        printMessage("Clicked on the slot: " + date);
      }

    }

    function onEventClick(calEvent, jsEvent, view) {
      <%#alert('Event: ' + calEvent.title);%>
      <%#alert('Coordinates: ' + jsEvent.pageX + ',' + jsEvent.pageY);%>
      <%#alert('View: ' + view.name);%>

      <%#// change the border color just for fun%>
      <%#$(this).css('border-color', 'red');%>

      <%#return false;%>
      printMessage("Event: " + calEvent.title);
      return false;
    }

    function printMessage(msg) {
      $("#messages").text(msg);
    }
  </script>
</head>
<body>

<div id="messages">
</div>

<%= yield %>

</body>
</html>
